* {
    font-family: 'DM Serif Display', serif;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    color: #402B2B;
}

$primaryColor: #EE4D47;
$secondaryColor: #FDEDE8;
$backgroundColor: #FEF8F5;
// $backgroundColor: #f38b57;
.btn {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
    }
    &-primary {
        background-color: $primaryColor;
    }
}