@import "./reset.scss";
@import "./default.scss";
.wrap {
    width: 1600px;
    margin-inline: auto;
    background-color: $backgroundColor;
    overflow: hidden;
}

.container {
    padding-inline: 240px;
}

.get-start {
    position: relative;
}

.header {
    z-index: 2;
    width: 1118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50px;
    .btn-contact {
        width: 158px;
        height: 60px;
        right: 0;
    }
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
    }
    .menu-item:nth-child(2) {
        margin: 0 104px 0 97px;
    }
}

.background-img {
    transform: translateY(-28px);
    // position: absolute;
    // top: -28px;
}

.background-truck {
    // position: absolute;
    // top: 788px;
    transform: translateY(-185px);
}

.header-title {
    position: absolute;
    z-index: 2;
    width: 741px;
    height: 300px;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    font-family: 'DM Serif Display', serif;
    color: white;
    margin-top: 190px;
}

.btn-getstarted {
    position: absolute;
    z-index: 2;
    width: 220px;
    height: 60px;
    margin-top: 604px;
}

// about
.about,
.apply,
.faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 160px;
    .about-img {
        position: absolute;
        right: -92px;
        top: -70px;
    }
}

.text {
    &-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        color: $primaryColor;
        margin-bottom: 41px;
    }
    &-decs {
        width: 470px;
        margin-bottom: 69px;
    }
    &-note {
        width: 570px;
        background-color: $secondaryColor;
        border-left: 10px solid $primaryColor;
        border-radius: 10px;
        padding: 30px 55px;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
}

.background {
    width: 1170px;
    height: 1500px;
    background-color: $secondaryColor;
    position: absolute;
    z-index: -1;
}

.faq {
    h2 {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 67.2px;
        width: 550px;
    }
    margin-bottom: 90px;
}

.questions {
    display: flex;
    justify-content: space-between;
    &-questions-col {
        display: flex;
        flex-direction: column;
    }
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px #F9CDC8;
    &-text {
        width: 550px;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 35px;
        span {
            max-width: 400px;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
        }
        img {
            content: url("../img/+.png");
            cursor: pointer;
        }
    }
    &-note {
        display: none;
    }
    &-detail {
        .question-note {
            display: block;
            width: 550px;
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFF7F5;
            span {
                max-width: 480px;
            }
            box-shadow: 0px 0px 20px #F9CDC8;
        }
        img {
            content: url("../img/-.png");
            cursor: pointer;
        }
        margin-bottom: 50px;
    }
    &-more {
        background-color: #F8CCC7;
        // opacity: 0.2;
        h3 {
            font-weight: 700;
            color: $primaryColor;
            opacity: 1;
        }
    }
}

.aboutus {
    margin-top: 150px;
    padding-bottom: 300px;
    justify-content: flex-start;
}

.navs-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;
    img {
        margin-left: 30px;
        cursor: pointer;
    }
}

.aboutus-img {
    // transform: translate (20px, 10px);
    position: absolute;
    top: 0%;
    left: 30%;
}

.cards {
    display: flex;
}

.card {
    width: 420px;
    height: 360px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 0px 20px #F9CDC8;
    &-decs {
        max-width: 320px;
        margin: 60px 48px 0 48px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
    }
    &-in4 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 48px;
        margin-bottom: 40px;
        img {
            margin-right: 20px;
        }
        span {
            font-weight: 700;
            font-size: 16px;
        }
    }
}

.footer {
    height: 800px;
    position: relative;
    &-background {
        width: 1440px;
        height: 600px;
        background-color: #0F264C;
        border-top-right-radius: 100px;
    }
    .footer-img {
        position: absolute;
    }
    .footer-img:nth-child(1) {
        z-index: 5;
        left: -240px;
    }
    .footer-img:nth-child(2) {
        z-index: 4;
        left: -240px;
        top: 184px;
    }
    .footer-img:nth-child(3) {
        z-index: 6;
        left: -240px;
        top: 180px;
    }
    // .footer-logo {
    //     position: absolute;
    //     z-index: 7;
    //     top: 630px;
    // }
    &-note {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        border-left: 10px solid $primaryColor;
        border-radius: 10px;
        position: absolute;
        z-index: 7;
        top: 280px;
        width: 370px;
        height: 155px;
        padding: 20px 0px 20px 40px;
    }
}

.footer-info {
    position: absolute;
    top: 80px;
    left: 520px;
}

.info {
    position: relative;
    z-index: 8;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 440px;
    box-shadow: 0px 0px 10px #F9CDC8;
    background-color: rgb(255, 255, 255);
    padding: 52px 75px;
    label {
        font-size: 18px;
        margin-bottom: 10px;
    }
    input {
        box-shadow: 0px 0px 20px #F9CDC8;
        border: 2px solid $secondaryColor;
        border-radius: 5px;
        height: 60px;
        padding-left: 40px;
        margin-bottom: 30px;
    }
    .input:focus {
        border: 3px solid $primaryColor;
        font-weight: 700;
    }
}

.btn-footer {
    position: relative;
    margin-top: 0;
    color: #fff;
}

.footer-navs {
    position: absolute;
    z-index: 8;
    top: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-logo {
        margin-right: 486px;
    }
}

.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    margin-bottom: 92px;
}